* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body, 
h1,
p {
    margin: 0;
}

:root {
    --main-bg-color: #2148c0;
    --main-white: #fff;
    --error-color: rgb(246, 145, 145);
    --main-light: rgb(97, 103, 209, 0.4);
}

body {
    background-color: var(--main-bg-color);
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
}

.login__vector-1 {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
}

.login__ellipse {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 400px;
    min-width: 300px;
    height: 50vh;
}

.ellipse {
    position: relative;
    bottom: 0;
    left: 0;
    width: inherit;
    height: inherit;
}

.ellipse__d-1 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 50%;
    height: 50%;
}

.ellipse__d-2 {
    position: absolute;
    width: 70%;
    height: 70%;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.ellipse__d-3 {
    position: absolute;
    width: 90%;
    height: 90%;
    bottom: 0;
    left: 0;
}



.login .login__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 400px;
    z-index: 3;
}

.login .login__form .logo {
    width: 120px;
    height: 98px;
    margin-bottom: 72px;
}

.login .login__form .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login .login__form .form .form__control {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 19px;
    border-radius: 4px;
    border: 1px solid var(--main-white);
    padding: 12px;
    width: inherit;
}

.login .login__form .form .error-msg {
    color: var(--error-color);
    height: 20px;
    width: 100%;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.login .login__form .form .form__control input {
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--main-white);
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    width: 100%;
}

.login .login__form .form .form__control input::placeholder {
    color: var(--main-white);
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    text-transform: uppercase;
}

.login .login__form .form div:nth-child(2) {
    margin-top: 20px;
}

.login .login__form .form .form__submit {
    width: inherit;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: var(--main-white);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.30);
    cursor: pointer;
    margin-top: 42px;
    transition: .2s;

    color: var(--main-bg-color);
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
}

.login .login__form .form .form__submit:active {
    transform: scale(0.99);
}

.login .login__form .form .form__forgot-password {
    color: var(--main-white);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: auto;
    cursor: pointer;
    margin-top: 12px;
}

.login .login__form .form .form__forgot-password:hover {
    text-decoration: underline;
}

.popup {
    visibility: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-light);
    z-index: 100;
    transition: 0.1s;
}

.popup .popup__msg {
    width: 500px;
    height: max-content;
    font-size: 16px;
    background-color: var(--main-white);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}

.popup .popup__msg div {
    display: flex;
    justify-content: space-between;
    color: var(--main-bg-color);
    padding-bottom: 5px;
    border-bottom: 1px solid var(--main-bg-color);
}

.popup .popup__msg div span:last-child {
    cursor: pointer;
    color: var(--error-color);
}

.popup .popup__msg p {
    color: var(--error-color);
}


@media screen and (max-width: 1024px) {
    .login__vector-1 {
        width: 70vw;
        height: 70vh;
    }

    .popup .popup__msg {
        width: 300px;
    }
}

@media screen and (max-width: 480px) {
    .login__ellipse {
        width: 100%;
    }
}